$serif: "Lora", "Times New Roman", serif;

html,
body {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

h1,h2,h3,
h4,h5,h6 {
    color: #0e0e0e;
    font-weight: 400;
    font-family: $serif;
    margin: .2em 0 .7em;
}

h1 {
    font-size: 2.4em;
}

h2 + img {
    margin-top: 0 !important;
}

h4 {
    color: #777;
}

p {
    margin: .5em 0 1.5em;
    line-height: 2;
}

ul {
    margin-bottom: 1.5em;
}

li {
    margin-bottom: .6em;
}

a {
    color: #309ae5;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }
    
    &:visited {
        color: #266c9f;
    }
}

figure img {
    margin-bottom: 0 !important;
}

figcaption {
    background: #0e0e0e;
    color: #fff;
    padding: 0.8em 1em;
    font-size: 0.8em;
}

#page-header {
    background: #0e0e0e url(../img/header-bg.jpg) 50% 90%;
    overflow: hidden;
    color: #fff;
    
    h1, h2, a {
        color: #fff;
    }
    
    h1 {
        margin: 1.5em 0 0;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    p {
        margin: 1.5em 0 5em;
    }
    
    a {
        white-space: nowrap;
    }
    
    .separator {
        margin: 0 0.6em;
    }
    
    svg {
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        margin-right: .4em;
    }
    
    .wrap {
        background: url(../img/ucl-logo.png) no-repeat right bottom;
        background-size: 190px 54px;
    }
}

#page-nav {
    border-bottom: 1px solid #ddd;
    margin-bottom: 3em;
    text-align: center;
    left: 0px;
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 6px RGBA(0,0,0,0);
    
    transition: box-shadow 0.2s linear;
    
    &.isStuck {
        position: fixed;
        top: 0;
        box-shadow: 0 6px 8px RGBA(0,0,0,0.1);
    }
    
    ul {
        padding: 0;
        margin: 0;
    }
    
    li {
        display: inline-block;
        margin: 0;
    }
    
    a {
        padding: 1.1em 2em 1.3em;
        text-decoration: none;
        color: #999;
        display: block;
        font-size: 1.1em;
        position: relative;
        
        transition: color 0.2s linear;
        
        &:hover,
        &:focus {
            color: #0e0e0e;
        }
        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            background: #0e0e0e;
            
            transition: height 0.2s ease;
        }
        
        &.active {
            color: #0e0e0e;
            
            &:after {
                height: 5px;
            }
        }
    }
}

main {
    > article {
        display: none;
        
        &.active-page {
            display: block;
        }
    }
}

section {
    margin-bottom: 1.4em;
    overflow: hidden;
    
    img {
        margin: 1em 0;
        display: block;
    }
}


#page-footer {
    font-size: 70%;
    border-top: 1px dotted #ccc;
    padding: 2em 0 4em;
    margin-top: 5em;
    
    address {
        white-space: pre-line;
        float: left;
        width: 50%;
    }
    
    p {
        margin-top: 0;
        text-align: right;
    }
}


/* Shared class styles */

.float-l { float: left; }
img.float-l { margin-right: 1em; }

.float-r { float: right; }
img.float-r { margin-left: 1em; }

.full-width {
    width: 100%;
    height: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrap {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    
    @extend .clearfix;
}

@media (max-width: 800px) {
    .wrap {
        width: auto;
        margin: 0 10px;
    }
}

.timeline {
    overflow: hidden;
    
    dt {
        float: left;
        clear: left;
        width: 100px;
        color: #777;
        text-align: right;
    }
    
    dd {
        margin-left: 120px;
        padding-left: 1.2em;
        padding-bottom: .5em;
        margin-bottom: 1.5em;
        border-left: 1px solid #ddd;
    }
}