@media (max-width: 500px) {
    #page-header {
        text-align: center;
        
        .wrap {
            background-position: center bottom;
        }
        
        p {
            margin-bottom: 6em;
        }
    }
}