@media (max-width: 500px) {
    #page-header {
        text-align: center;
        
        .wrap {
            background-position: center bottom;
        }
        
        p {
            margin-bottom: 6em;
        }
    }
    
    #page-nav {
        li {
            display: block;
            border-top: 1px solid #ddd;
            
            &:first-child {
                border-top: none;
            }
        }
        a {
            font-size: .9em;
            padding: .8em 0;
            
            &:after {
                display: none;
            }
        }
    }
    
    .timeline {
        border-left: 1px solid #ccc;
        
        dt {
            float: none;
            width: auto;
            text-align: left;
            padding-left: 15px;
            background: #BBB;
            color: #FFF;
            display: inline-block;
            padding-right: 20px;
            margin-bottom: 0.8em;
            border-radius: 0 20px 0 0;
        }
        dd {
            border-left: 0;
            padding-left: 15px;
            margin-left: 0;
        }
    }
}